# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\eclipse workSpace 3\helloIdeaMaven\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
